{# src\OC\PlatformBundle\Resources\views\Advert\bye.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Au revoir</title>
    </head>
    <body>
        <h1>Byebye {{ name }}</h1>
        <p>
            Vous êtes sur une autre page que j'ai créée toute seule.
        </p>
    </body>
</html>